<h1>{{artistData.name}}</h1>
<h2 id="great">Great Pick!</h2>
<<<<<<< HEAD
<button onclick="addLikedArtist('{{artistData.name}}')">Add to <span class="specialMy">My</span> Liked Artists</button>
<button onclick="addDislikedArtist('{{artistData.name}}')">Add to <span class="specialMy">My</span> Disliked Artists</button>
=======
</div>
>>>>>>> f6d50325355ee535ce5c4a347c629c349bca1f44

<h2>Similar Artists</h2>
{{#if artistData.similar.artist}}
    <ul>
        {{#each artistData.similar.artist}}
            <li><a href="/artistinfo/{{this.name}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
{{else}}
    <p>No similar artists found.</p>
{{/if}}

<h2>Artist Information</h2>
<div id="addArtDiv"><button id="addArtist" onclick="addArtist({{artistID}})">Add to <span class="specialMy">My</span> Artists</button>

{{#if artistData.bio.content}}
    <div id="artInfoDiv"><p>{{{artistData.bio.content}}}</p></div>
{{else}}
    <p>No information available.</p>
{{/if}}