<h1>{{artistData.name}}</h1>

<button onclick="addLikedArtist('{{artistData.name}}')">Add to <span class="specialMy">My</span> Liked Artists</button>
<button onclick="addDislikedArtist('{{artistData.name}}')">Add to <span class="specialMy">My</span> Disliked Artists</button>

<h2>Similar Artists</h2>
{{#if artistData.similar.artist}}
<ul>
    {{#each artistData.similar.artist}}
        <li><a href="/artistinfo/{{this.name}}">{{this.name}}</a></li>
    {{/each}}
</ul>
{{else}}
<p>No similar artists found.</p>
{{/if}}

<h2>Artist Information</h2>
{{#if artistData.bio.content}}
<p>{{{artistData.bio.content}}}</p>
{{else}}
<p>No information found.</p>
{{/if}}