<h1>Search for a{{#if song}} song{{/if}}{{#if artist}}n artist{{/if}}{{#if album}}n album{{/if}}:</h1>

<a href="/chooseWhatToSearch"><button>Search for something else?</button></a>

{{! ADD FORM ACTION }}
<form>
    <input type="text" id="searchbox" name="searchbox" required />
    {{#if album}}
        <input type="number" id="prodYear" name="prodYear" min="1900" max="2099" step="1" />
    {{/if}}
    <button type="submit" id="submit" name="submit">Search</button>
</form>

{{#if searchResults}}
    {{#each searchResults}}
        {{! make sure all elements within div are on one line }}
        <div>
            {{! might need some tweaking based on variable names }}
            <span>{{this.songName}}{{this.albumName}}</span>
            <span>{{this.artistName}}</span>
            {{#if album}}
                <span>{{this.prodYear}}</span>
            {{/if}}
            <button id="add">&#10133;</button>
        </div>
    {{/each}}

    <a href="/chooseWhatToSearch"><button>Search for something else?</button></a>
{{/if}}

{{#if error}}
    <div>
        <p>We're sorry but we couldn't find anything for {{searchTerm}}{{#if prodYear}} produced in {{prodYear}}{{/if}}.</p>
    </div>
{{/if}}