<h1>What {{#if song}} Song{{/if}}{{#if artist}}n Artist{{/if}}{{#if album}}n Album{{/if}} Would You Like?</h1>

<h2 id="else"><a href="/search">Looking For Something Else?</a></h2>

{{! ADD FORM ACTION }}
<div id="searchFormDiv"> <div id="ssFormDiv"><form class = "searchForm" action = {{#if song}}"/search/songs"{{/if}} {{#if artist}}"/search/artists"{{/if}} {{#if album}}"/search/albums"{{/if}}  id = 'search-form' method = "POST">
    <label for="searchbox">Search:</label></br>
    <input type="text" id="searchbox" name="searchbox" required /></br>
    {{#if album}}
        <label for="prodYear">Year Produced:</label></br>
        <input type="number" id="prodYear" name="prodYear" min="1900" max="2099" step="1" /><br>
    {{/if}}
        {{#if song}}
        <label for="prodYear">Year Produced:</label></br>
        <input type="number" id="prodYear" name="prodYear" min="1900" max="2099" step="1" /></br>
    {{/if}}
    <button type="submit" id="submitSearch" name="submitSearch">Search!</button>
</form></div></div>

<div id="searchRes">{{#if searchResults}}
    {{#each searchResults}}
        {{! make sure all elements within div are on one line }}
        <div id="spacing">
            {{!-- once added made plus emoji into check emoji --}}
            {{#if this.song}}
            <span>{{this.name}} by {{this.artist}}: {{this.release}}</span>
            <form class = "addForm" action = "/search/addLikedSong" id = "add-form" method = "POST">
                <input type="text" name = "songName" value ="{{this.name}}" hidden>
                <input type="text" name = "artistName" value ="{{this.artist}}" hidden>
                <button type="submit" id="submitAdd" name="submitadd" class="remove">&#128077;</button>
            </form>
                <form class = "addForm" action = "/search/addDislikedSong" id = "add-form" method = "POST">
                <input type="text" name = "songName" value ="{{this.name}}" hidden>
                <input type="text" name = "artistName" value ="{{this.artist}}" hidden>
                <button type="submit" id="submitAdd" name="submitAdd" class="remove">&#128078;</button>
            </form>
            {{/if}}
            {{#if this.album}}
            <span>{{this.name}}: {{this.release}}</span>
            <form class = "addForm" action = "/search/addAlbum" id = "add-form" method = "POST">
                <input type="text" name = "albumName" value ="{{this.name}}" hidden>
                <input type="text" name = "artistName" value ="{{this.artist}}" hidden>
                <span>Input your ranking of {{albumName}}</span>
                <label><input type="number" id="ranking" name="ranking" min="0" max="10" step="1" required />/10</label>
                <button type="submit" id="submitAdd" name="submitAdd" class="remove">&#128077;</button>
            </form>
            {{/if}}
            {{#if this.art}}
            <a href="/artistinfo/{{this.name}}">{{this.name}}</a>
            <form class = "addForm" action = "/search/addLikedArtist" id = "add-form" method = "POST">
                <input type="text" name = "artistName" value ="{{this.name}}" hidden>
                <button type="submit" id="submitAdd" name="submitAdd" class="remove">&#128077;</button>
            </form>
                <form class = "addForm" action = "/search/addDislikedArtist" id = "add-form" method = "POST">
                <input type="text" name = "artistName" value ="{{this.name}}" hidden>
                <button type="submit" id="submitAdd" name="submitAdd" class="remove">&#128078;</button>
            </form>
            {{/if}}


        </div>
        <div id="album{{this.albumID}}" hidden>
            <h3>{{this.albumName}} by {{this.artistName}}</h3>
            {{! ADD FORM ACTION }}
            <form class="addAlbumForm">
                <span>Input your ranking of {{albumName}}</span>
                <label><input type="number" class="ranking" name="ranking" min="0" max="10" step="1" required />/10</label>
                <button type="submit" class="submitRank" name="submitRank">Submit</button>
            </form>
        </div>
    {{/each}}

    <a href="/search">Search for something else?</a>
{{/if}}

<div id="error">{{errStr}}</div>
