<h1>Search for a{{#if song}} song{{/if}}{{#if artist}}n artist{{/if}}{{#if album}}n album{{/if}}:</h1>

<a href="/search">Search for something else?</a>

{{! ADD FORM ACTION }}
<form class = "searchForm" action = {{#if song}}"/search/songs"{{/if}} {{#if artist}}"/search/artists"{{/if}} {{#if album}}"/search/albums"{{/if}}  id = 'search-form' method = "POST">
    <label for="searchbox">Search:</label>
    <input type="text" id="searchbox" name="searchbox" required />
    {{#if album}}
        <label for="prodYear">Year Produced:</label>
        <input type="number" id="prodYear" name="prodYear" min="1900" max="2099" step="1" />
    {{/if}}
        {{#if song}}
        <label for="prodYear">Year Produced:</label>
        <input type="number" id="prodYear" name="prodYear" min="1900" max="2099" step="1" />
    {{/if}}
    <button type="submit" id="submitSearch" name="submitSearch">Search</button>
</form>

{{#if searchResults}}
    {{#each searchResults}}
        {{! make sure all elements within div are on one line }}
        <div>
            {{! might need some tweaking based on variable names }}
            <span>{{this.name}}: {{this.release}}</span>
            {{!-- <span>{{this.artist}}</span> --}}
            {{!-- <button id="add" onclick="add{{#if song}}Song({{this}}){{/if}}{{#if artist}}Artist({{this}}){{/if}}{{#if album}}Album({{albumID}}){{/if}}">&#10133;</button> --}}
            {{!-- once added made plus emoji into check emoji --}}
            {{#if this.song}}
            <form class = "addForm" action = "/search/addLikedSong" id = "add-form" method = "POST">
                <input type="text" name = "songName" value ="{{this.name}}" hidden>
                <input type="text" name = "artistName" value ="{{this.artist}}" hidden>
                <button type="submit" id="submitAdd" name="submitadd">&#10133;</button>
            </form>
                <form class = "addForm" action = "/search/addDislikedSong" id = "add-form" method = "POST">
                <input type="text" name = "songName" value ="{{this.name}}" hidden>
                <input type="text" name = "artistName" value ="{{this.artist}}" hidden>
                <button type="submit" id="submitAdd" name="submitAdd">&#10133;</button>
            </form>
            {{/if}}
            {{#if this.album}}
            <form class = "addForm" action = "/search/addAlbum" id = "add-form" method = "POST">
                <input type="text" name = "albumName" value ="{{this.name}}" hidden>
                <input type="text" name = "artistName" value ="{{this.artist}}" hidden>
                <span>Input your ranking of {{albumName}}</span>
                <label><input type="number" id="ranking" name="ranking" min="0" max="10" step="1" required />/10</label>
                <button type="submit" id="submitAdd" name="submitAdd">&#10133;</button>
            </form>
            {{/if}}
            {{#if this.art}}
            <form class = "addForm" action = "/search/addLikedArtist" id = "add-form" method = "POST">
                <input type="text" name = "artistName" value ="{{this.name}}" hidden>
                <button type="submit" id="submitAdd" name="submitAdd">&#10133;</button>
            </form>
                <form class = "addForm" action = "/search/addDislikedArtist" id = "add-form" method = "POST">
                <input type="text" name = "artistName" value ="{{this.name}}" hidden>
                <button type="submit" id="submitAdd" name="submitAdd">&#10133;</button>
            </form>
            {{/if}}


        </div>
        <div id="album{{this.albumID}}" hidden>
            <h3>{{this.albumName}} by {{this.artistName}}</h3>

            {{! ADD FORM ACTION }}
            <form>
                <span>Input your ranking of {{albumName}}</span>
                <label><input type="number" id="ranking" name="ranking" min="0" max="10" step="1" required />/10</label>
                <button type="submit" id="submitRank" name="submitRank">Submit</button>
            </form>
        </div>
    {{/each}}

    <a href="/search">Search for something else?</a>
{{/if}}

    <div>
        {{!-- <p>We're sorry but we couldn't find anything for {{searchTerm}}{{#if prodYear}} produced in {{prodYear}}{{/if}}.</p> --}}
        <p>{{error}}</p>
    </div>
